<ion-header>
  <ion-navbar>
    <ion-title>
      Culidex
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-slides spacing>
      <ion-slide *ngFor="let recipe of recipes">
          <ion-card>
        <img src="{{ recipe.imageUrl }}">
        <ion-card-header>{{ recipe.name }}</ion-card-header>

        <ion-grid>
          <ion-row>
            <ion-col>Prep time</ion-col>
            <ion-col>Cook time</ion-col>
            <ion-col>Servings</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ recipe.prepTime }}</ion-col>
            <ion-col>{{ recipe.cookTime }}</ion-col>
            <ion-col>{{ recipe.servings }}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-list inset>
          <ion-item *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item *ngFor="let instruction of recipe.instructions; let i = index;">
            {{ i + 1 }}. {{ instruction }}
          </ion-item>
        </ion-list>
      </ion-card>
      </ion-slide>
    </ion-slides>

</ion-content>
