<ion-header>
  <ion-navbar>
    <ion-title>
      Culidex
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide *ngFor="let recipe of recipes">
      <img src="{{ recipe.imageUrl }}" style="object-fit: cover;width: 100%; max-height: 8em">
      <h1><span>{{ recipe.name }}</span></h1>

      <div padding-vertical>
        <div class="time cell" float-left>
          <h4>Prep time</h4>
          {{ recipe.prepTime }}
        </div>
        <div class="time cell" float-left>
          <h4>Cook time</h4>
          {{ recipe.cookTime }}
        </div>
        <div class="yield cell" float-left>
          <h4>Servings</h4>
          {{ recipe.servings }}
        </div>
      </div>

      <div padding-top padding-horizontal>
        <ul>
          <li text-left *ngFor="let ingredient of recipe.ingredients">
            {{ ingredient }}
          </li>
        </ul>
      </div>
      <div padding-top>
        <ol>
          <li text-left *ngFor="let instruction of recipe.instructions">
            {{ instruction }}
          </li>
        </ol>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
