page-home {

}

ion-slide.swiper-slide {
  align-items: flex-start;
}

ion-slides {
  height: auto;
  overflow: visible;
}

img {
  width: 100%;
  max-height: 20%;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

.cell {
  text-align: center;
  margin-bottom: 2em;
  padding: .2em;
  min-height: 3em;
  float: left;
  width: calc(100% / 3);
}

.time {
  border-right: 1px solid black;
  border-image: linear-gradient(to top, rgba(255,0,0,255), rgba(255,0,0,0))
}

.yield {

}

